.main1and2and3 {
        background-image: url("background2.png");
        background-size: contain;
        width: 100%;
}

.navbar {
        display: flex;
}

.nav1img {
        width: 105px;
        height: 42px;
        background-color: red;
}

.nav2img {
        transition-property: all;
        transition-duration: .1s;
}

.nav2img:hover {
        width: 25px;
        background-color: brown;
}



#nav2home {
        font-size: 16px;
        color: black;
        margin-left: 130px;
        text-decoration-line: none;
        text-justify: inter-word;
        transition-property: all;
        transition-duration: .1s;
}

#nav2home:hover {
        color: #049687;
        font-size: 16.25px;
}

#nav2img {
        margin-left: 135px;
        margin-bottom: 10px;
}


.main {
        background-size: cover;
        display: flex;
        justify-content: center;
}


.main1 {
        width: 450px;
        height: 360px;
}

.main11 {
        width: 450px;
        height: 160px;
        font-size: 60px;
        font-family: cursive;
        color: #00B5A3;
        padding-top: 60px;
        padding-bottom: 10px;
}

.main12 {
        font-size: 16px;
        font-family: cursive;
}

.main13 {
        width: 170px;
        height: 52px;
        display: flex;
}

#main13button1 {
        width: 150px;
        height: 60px;
        background-color: #049687;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        border-radius: 5%;
        transition-property: all;
        transition-duration: .1s;
}

#main13button1:hover {
        font-size: 22px;
        background-color: black;
}


#main13button2 {
        width: 150px;
        height: 60px;
        background-color: #049687;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 20px;
        font-size: 18px;
        border-radius: 5%;
        transition-property: all;
        transition-duration: .1s;
}

#main13button2:hover {
        background-color: #049687;
        font-size: 22px;
}


.main2 {
        width: 450px;
        height: 360px;
}

#main2img {
        width: 450px;
        transition-duration: .1s;
        transition-property: all;
}

#main2img:hover {
        width: 465px;
}

.main3 {
        padding-top: 40px;
        padding-bottom: 40px;
}

#main3button1 {
        width: 100px;
        height: 100px;
        border: 5px solid skyblue;
        position: relative;
        left: 250px;
        border-radius: 50%;
        font-size: 50px;
        transition-property: all;
        transition-duration: .1s;
}

#main3button1:hover {
        border: 10px dotted black;
}



#main3button2 {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        position: relative;
        left: 270px;
        border-radius: 50%;
        font-size: 50px;
        transition-property: all;
        transition-duration: .1s;
}

#main3button2:hover {
        border: 10px dotted skyblue;
}


.page2nd {
        width: 100%;
        height: 916px;
}

.page2nd1 {
        width: 1000px;
        padding-left: 160px;
        position: relative;
        top: 20px;
        left: 0px;
        font-family: cursive;
        font-size: 65px;
}

.page2nd2 {
        width: 1300px;
        padding-left: 160px;
        position: relative;
        top: 20px;
        left: 0px;
        font-family: cursive;
        font-size: 20px;
}


.page2nd3 .page2nd30 {
        width: 200px;
        height: 400px;
        background-color: skyblue;
        position: relative;
        top: 45px;
        left: 200px;
}

#page2nd31 {
        width: 600px;
        position: relative;
        bottom: 400px;
        left: 280px;
        transition-property: all;
        transition-duration: .1s;
}

#page2nd31:hover {
        width: 620px
}

#page2nd32 {
        width: 500px;
        position: relative;
        bottom: 380px;
        left: 250px;
        transition-property: all;
        transition-duration: .1s;
}

#page2nd32:hover {
        width: 520px
}

#page2ndreadmore {
        width: 200px;
        height: 60px;
        background-color: #00B5A3;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        border-radius: 5%;
        position: relative;
        bottom: 320px;
        left: 700px;
        transition-property: all;
        transition-duration: .1s;
        transition-timing-function: linear;
}

#page2ndreadmore:hover {
        background-color: black;
        font-size: 22px;
}

.page3rd {
        width: 100%;
        height: 600px;
        background-image: url("page3rdimg.png");
        background-size: cover;
}

.page3rd1 {
        width: 1499px;
        height: 100;
        position: relative;
        top: 150px;
}

.page3rd1heading {
        width: 700px;
        font-size: 65px;
        font-family: cursive;
        color: white;
        position: relative;
        top: 30px;
        left: 150px;
}


.page3rd1detail {
        width: 1000px;
        font-size: 22px;
        font-family: cursive;
        color: white;
        position: relative;
        top: 30px;
        left: 150px;
}


#page3rd1button {
        width: 130px;
        height: 130px;
        border: 5px solid black;
        border-radius: 50%;
        font-size: 70px;
        position: relative;
        bottom: 100px;
        left: 1200px;
        background-image: url("playicon.png");
        background-size: cover;
        transition-property: all;
        transition-duration: .2s;
}

#page3rd1button:hover {
        border: 10px dotted black;
        width: 132px;
        height: 135px;
}

.page4th {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.page4thheading {
        width: 900px;
        font-size: 65px;
        font-family: cursive;
        color: black;
        position: relative;
        top: 0px;
        left: 250px;
}

.page4thdetail {
        width: 1000px;
        font-size: 22px;
        font-family: cursive;
        color: black;
        position: relative;
        top: 0px;
        left: 250px;
        display: inline;
}

.page4thmain {
        width: 1200px;
        height: 400px;

        position: relative;
        top: 0px;
        left: 150px;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
}

.page4thmain1 {
        height: 300px;
        width: 300px;
        background-color: black;
        border-radius: 5%;
        font-size: 35px;
        font-family: cursive;
        color: white;
        text-align: center;
        transition-property: all;
        transition-duration: .1s;
}

.page4thmain1:hover {
        background-color: #049687;
}

#icon-51 {
        position: relative;
        top: 30px;
        left: 20px;
        width: 35%;
        padding-bottom: 30px;
        transition-duration: .1s;
        transition-property: all;
}

#icon-51:hover {
        width: 37%
}

.page4thmain2 {
        height: 300px;
        width: 300px;
        background-color: #049687;
        border-radius: 5%;
        font-size: 35px;
        color: white;
        text-align: center;
        font-family: cursive;
        transition-property: all;
        transition-duration: .1s;
}

.page4thmain2:hover {
        background-color: black;
}


#icon-31 {
        position: relative;
        top: 30px;
        left: 10px;
        width: 35%;
        text-align: center;
        padding-bottom: 30px;
        transition-duration: .1s;
        transition-property: all;
}

#icon-31:hover {
        width: 37%
}

.page4thmain3 {
        height: 300px;
        width: 300px;
        background-color: black;
        border-radius: 5%;
        font-size: 35px;
        font-family: cursive;
        color: white;
        text-align: center;
        transition-property: all;
        transition-duration: .1s;
}

.page4thmain3:hover {
        background-color: #049687;
}

#icon-41 {
        position: relative;
        top: 30px;
        left: 20px;
        width: 35%;
        padding-bottom: 30px;
        transition-duration: .1s;
        transition-property: all;
}

#icon-41:hover {
        width: 37%
}


#page4thbutton {
        width: 150px;
        height: 60px;
        background-color: #049687;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
        border-radius: 5%;
        position: relative;
        text-align: center;
        top: 0px;
        left: 670px;
        display: inline;
        transition-property: all;
        transition-duration: .1s;
}

#page4thbutton:hover {
        background-color: black;
        font-size: 22px
}

.page5th {
        height: 900px;
        width: 100%;
        background-image: url("page5th.png");
        background-size: contain;


}

.page5th1 {
        height: 92;
        width: 930;
        font-size: 50px;
        position: relative;
        top: 100px;
        left: 200px;
        display: inline;
        font-family: cursive;
}


.page5th2 {
        width: 500px;
        height: 501px;
        background-color: white;
        position: relative;
        top: 100px;
        left: 200px;
        font-weight: 500;
}

.page5th21 {
        font-size: 25px;
        font-weight: 600;
        font-family: cursive;
        position: relative;
        top: 30px;
        left: 20px;
        transition-duration: .1s;
        transition-property: all;
}

.page5th21:hover {
        background-color: #049687;
}

.page5th22 {
        font-size: 25px;
        font-weight: 600;
        font-family: cursive;
        position: relative;
        top: 80px;
        left: 20px;
        transition-duration: .1s;
        transition-property: all;
}

.page5th22:hover {
        background-color: #049687;
}

.page5th23 {
        font-size: 25px;
        font-weight: 600;

        font-family: cursive;
        position: relative;
        top: 120px;
        left: 20px;
        transition-duration: .1s;
        transition-property: all;
}

.page5th23:hover {
        background-color: #049687;
}


.page5th3 {
        width: 480px;
        height: 501px;
        background-color: lightpink;
        position: relative;
        top: -400px;
        left: 800px;
}

#page5th3ba {
        padding-top: 5px;
        font-size: 30px;
        text-align: center;
        font-family: cursive;
}


#page5th3baname {
        width: 400px;
        height: 35px;
        position: relative;
        left: 30px;
        font-size: 25px;
}

#page5th3bamassage {
        width: 400px;
        height: 35px;
        position: relative;
        left: 30px;
        top: 30px;
        font-size: 25px;
}

#page5th3babutton {
        width: 200px;
        height: 60px;
        background-color: #00B5A3;
        color: white;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 18px;
        border-radius: 5%;
        position: relative;
        top: 70px;
        left: 140px;
        transition-property: all;
        transition-duration: .1s;
}

#page5th3babutton:hover {
        background-color: black;
        font-size: 25px;
}


.page6th {
        width: 100%;
        height: 900px;
}

.page6th1 {
        font-size: 65px;
        text-align: center;
        font-family: cursive;
        padding-top: 30px;
        font-weight: 900
}

.page6th2 {
        font-size: 25px;
        text-align: center;
        font-family: cursive;
        padding-top: 20px
}

.page6th3 {
        display: inline;
        position: relative;
        top: 50px;
        left: 180px;
}

#page6th31 {
        width: 400px;
}


.page6th4 {
        width: 800px;
        height: 250px;

        position: relative;
        bottom: 460px;
        left: 650px;
}

.page6th41 {
        font-size: 45px;
        font-family: cursive;
        font-weight: 500;

}

.page6th42 {
        font-size: 20px;
        font-family: cursive;
        font-weight: 100;
        color: gray;
        position: relative;
        bottom: 30px;
}

#coma {
        position: relative;
        bottom: 20px;
}

#page6thbutton1 {
        height: 70px;
        width: 70px;
        background-color: #049687;
        color: white;
        font-size: 45px;
        padding-bottom: 8px;
        position: relative;
        right: 105px;
        bottom: 0px;
        text-align: center;
        border-radius: 20%;
        transition-duration: .1s;
        transition-property: all;
}

#page6thbutton1:hover {
        font-size: 49px;
        background-color: black;
        border: 4px dotted #049687;
}

#page6thbutton2 {
        height: 70px;
        width: 70px;
        background-color: black;
        color: white;
        padding-bottom: 8px;
        font-size: 45px;
        position: relative;
        right: 180px;
        top: 100px;
        text-align: center;
        border-radius: 20%;
        transition-duration: .1s;
        transition-property: all;
}

#page6thbutton2:hover {
        font-size: 49px;
        background-color: #049687;
        border: 4px dotted black;
}

.page7th {
        height: 500px;
        width: 100%;
        background-color: black;

}

.page7thh {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 15px;
}

.page7th1 {
        width: 300px;
        height: 300px;
        margin: 5px;
        padding-left: 20px;

}

#page7th11 {
        width: 40%;
        padding-top: 20px;
        padding-bottom: 10px;
}



.page7th12 {
        font-size: 40px;
        color: white;
        font-family: cursive;
        padding-top: 10px;
        padding-bottom: 10px;

}

.page7th13 {
        font-size: 15px;
        color: white;
        width: 70%;
        height: 19px;
        margin-bottom: 15px;
}

.page7th14 {
        font-size: 15px;
        color: white;
        width: 70%;
        height: 19px;
        margin-bottom: 15px;

}

.page7th15 {
        font-size: 15px;
        color: white;
        width: 70%;
        height: 19px;
        margin-bottom: 15px;

}

.page7th2 {
        width: 300px;
        height: 300px;
        margin: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
}

.page7th21 {
        font-size: 45px;
        color: white;
        font-family: cursive;
        padding-top: 20px;
        padding-bottom: 10px;
}

.page7th22 {
        font-size: 16px;
        font-family: cursive;
        color: white;
        padding-top: 20px;
        padding-bottom: 10px;
}

.page7th3 {
        width: 300px;
        height: 300px;
        margin: 5px;
        /*margin-left: 10px;
         margin-right: 10px;*/
        padding-left: 20px;
}

.page7th31 {
        font-size: 45px;
        color: white;
        font-family: cursive;
        padding-top: 20px;
        padding-bottom: 10px;
}

.page7th32 {
        font-size: 16px;
        font-family: cursive;
        color: white;
        display: inline;
}

.page7th4 {
        width: 300px;
        height: 300px;
        margin: 5px;
        padding-left: 20px;
}

.page7th41 {
        font-size: 45px;
        color: white;
        font-family: cursive;
        padding-top: 20px;
        padding-bottom: 10px;
}

#page7th42 {
        width: 70%;
        height: 13%;
        font-size: 20px;
        background-color: whitesmoke;
        color: black;
        margin-bottom: 10px;
}

#page7th43 {
        width: 50%;
        height: px;
        background-color: #049687;
        font-size: 20px;
        text-align: center;
        color: white;
}

.page7th5 {
        background-color: red;
        width: 100%;
        height: 50px;
        color: gray;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        display: inline;
}

.page7th44 {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
}